<main>
  <section class="gallery">
    <article class="card">
      <img
        src="https://via.placeholder.com/150"
        title="placeholder"
        desc="placeholder"
        alt="placeholder"
      />
      <h2 class="gallery__name">Name</h2>
      <p class="gallery__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        sapiente dolore vitae aut perferendis enim commodi corrupti veniam nam
        saepe voluptates fuga debitis eius qui necessitatibus, quod tenetur at
        officia.
      </p>
    </article>
    <article class="card">
      <img
        src="https://via.placeholder.com/150"
        title="placeholder"
        desc="placeholder"
        alt="placeholder"
      />
      <h2 class="gallery__name">Name</h2>
      <p class="gallery__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        sapiente dolore vitae aut perferendis enim commodi corrupti veniam nam
        saepe voluptates fuga debitis eius qui necessitatibus, quod tenetur at
        officia.
      </p>
    </article>
    <article class="card">
      <img
        src="https://via.placeholder.com/150"
        title="placeholder"
        desc="placeholder"
        alt="placeholder"
      />
      <h2 class="gallery__name">Name</h2>
      <p class="gallery__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        sapiente dolore vitae aut perferendis enim commodi corrupti veniam nam
        saepe voluptates fuga debitis eius qui necessitatibus, quod tenetur at
        officia.
      </p>
    </article>
  </section>
</main>
